@charset "UTF-8";

table, th, td {
	border: 1px solid black;
	text-align: center;
}
.formtable{
	widht:400px;
	border: 1px solid blue;

}
.label{
	text-align:right;
	vertical-align:top;
}
.control{
	margin-left:10px;
}
.error{
	font-size:small;
	color:red;
	margin-left:10px;
}
.home{
		widht:400px;
	
}
input[type=text]{
	border-width:1px;
	padding:2px;
	
}

.button:hover{
	background-color:#45a049;
}